:root {
    --mri-green: #91d622;
}

html, body {
    padding: 0;
    margin: 0;
}

/* --- Header: Green stripe and MRI logo --- */

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--mri-green);
    padding: 10px 20px;
    position: relative;
    height: 80px;
}

#logo_container img {
    height: 150px;
    width: 150px;
    cursor: pointer;
    z-index: 1;
    transform: translate(25px, -25px);
    border: solid 10px white;
    border-radius: 80px;
    position: absolute;
    background-color: white;
}

/* --- Header: Title of the page ---  */

#title {
    text-align: center;
    font-family: "Lilita One";
    display: block;
}

#title>span:first-child {
    font-size: 6em;
    display: inline-block;
}

#title>span:last-child {
    font-size: 3em;
    border-bottom: solid 5px var(--mri-green);
    padding: 10px;
    padding-top: none;
}

/* --- Introduction bullet list --- */

#introduction {
    margin-top: 50px;
    text-align: center;
    font-family: "Yaldevi";
}

#intro_list {
    width: 70%;
    display: inline-block;
    border-left: solid 10px var(--mri-green);
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    text-align: left;
}

.intro_line {
    margin: 10px;
    margin-bottom: 25px;
    font-size: 1.5em;
}

.intro_line>span {
    font-style: italic;
    opacity: 0.3;
}

/* --- Sessions --- */

#upcoming {
    text-align: center;
    margin-top: 70px;
    font-family: "Lilita One";
}

#upcoming>span {
    font-size: 3em;
    border-bottom: solid 2px black;
    padding-bottom: 5px;
}

#sessions {
    height: 340px;
    overflow-x: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.session_block {
    font-family: "Lilita One";
    border: solid 5px black;
    border-radius: 10px;
    flex: 0 0 auto;
    width: 200px;
    height: 230px;
    opacity: 0.4;
    filter: saturate(0%) blur(2px);
    cursor: pointer;
    user-select: none;
}

.session_block * {
    user-select: none;
}

.session_block:hover {
    filter: saturate(100%);
    opacity: 1.0;
}

.active_session {
    margin: 30px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.1);
    opacity: 1.0;
    filter: saturate(100%);
}

.session_month {
    background-color: red;
    color: white;
    margin: 0;
    font-size: 3em;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 2px black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.session_date {
    width: 100%;
    font-size: 6.5em;
    text-align: center;
    padding-top: 5px;
    background-color: white;
    color: black;
}

/* --- Selected session --- */

#session_details {
    font-size: 1.4em;
    width: 100%;
    align-items: center;
    display: flex;
    font-family: "Yaldevi";
    justify-content: center;
    margin-bottom: 60px;
}

#pinpoint {
    height: 80px;
    width: auto;
    border-radius: 50%;
    border: solid 5px #00000000;
    opacity: 0.5;
    transition-duration: 0.2s;
    padding: 10px;
}

#pinpoint:hover {
    border-color: red;
    opacity: 1.0;
}

#details {
    border-left: solid 5px red;
    padding-left: 10px;
    margin-left: 10px;
}

.session_info {
    display: block;
}

#session_date {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;
}

/* --- Booking --- */

#booking {
    margin-bottom: 50px;
}

#sub_failed {
    background-color: #ffa9a9;
    border: solid 4px red;
    padding: 20px;
    border-radius: 5px;
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
    font-family: "Yaldevi";
    display: none;
}


form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    max-width: 700px;
    margin: auto;
    font-family: "Yaldevi";
}
  
label {
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 5px;
}
  
input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]::placeholder {
    font-style: italic;
    opacity: 0.4;
}

form>span {
    font-weight: bold;
}
  
textarea {
    resize: vertical;
    font-size: 1em;
}


input, select, form {
    font-size: 1.1em;
    font-family: 'Yaldevi';
}

#appointmentTime {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* --- Links --- */

#links {
    font-family: "Yaldevi";
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateY(10px);
    margin-bottom: 60px;
}

#links>table {
    border-top: solid 1px #0000001a;
    padding-top: 20px;
    width: 200px;
    vertical-align: middle;
}

td>a {
    color: rgb(50, 50, 50);
    text-decoration: none;
}

td>a:hover {
    text-decoration: underline;
}

#links>table>tr, #links>table>tr>td {
    height: 160px;
}

a>img {
    width: 25px;
    height: auto;
    margin-right: 10px;
    margin-top: 5px;
}

#company {
    display: none;
}